@charset "UTF-8";
/*DOCUMENTO CSS PARA LA PAGINA WEB*/

*{
    margin:0px;
    padding:0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#contenedor{
    border: 1px solid #903;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    background-color:#FFF;
    padding: 5px;
}
#cabecera{
    border: 1px solid #903; 
    width:100%; 
    margin-bottom: 15px; 
    height: 150px; 
    background-color:rgba(153,0,0,1); 
    overflow: hidden; 
}
#cabecera .logo{
    float: left;
    margin: 0px;
    width: 100px;
}
#cabecera .logo img{
    width: 270%;
}
#cabecera h1{ 
    width: 100%; 
    text-align: center; 
    margin: 60px; 
}


#menu{
    border: 1px solid #903;
    float: left;
    width: 15%;
    height: 0px;
    margin-left: 1%;
    margin-bottom: 5%;
}
#menu{
    width: 98%;
}

#menu ul{
    list-style: none;
}

#menu ul li{
    float: left;
    width: 20%;
    text-align: center;
}

#menu ul li a{ 
    display: block; 
    padding-top: 8px; 
    padding-bottom: 8px; 
    font-weight: bold; 
    color: white; 
    background: #903; 
    text-decoration: none;   
}

#menu ul li a:hover{ 
    background-color: chocolate;   
} 


#contenido{
    border: 0px solid #903;
    float: right;
    width: 98%;
    height: 500px;
    margin-right: 1%;
    margin-bottom: 5%;
}


#contenido #principal{
    float: left;
    width: 72%;
}

#contenido h1{
    width: 100%;
    text-align:center;
    margin: 20px;
}
#contenido p{
    width: 100%;
    text-align: justify;
    margin-bottom: 10px;
}
#contenido img{
    text-align:center;
    width: 25%;
    margin-bottom: 15px;
}


#pie{ 
    border: 1px solid #903;
    width: 100%;
    height: 150px;
    clear: both; 
    background-color:rgba(153,0,0,1);
}
#pie p{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;  
}
#pie h2{
    width: 100%;
    text-align: center;
    margin-bottom: 10px; 
}

@media screen and (max-width: 700px){
    #contenido{
        width: auto;
        float: none;
    }
}
@media screen and (max-width: 480px){
    #contenedor{
        width: 100%; 
        border:none; 
        margin: 0px; 
        padding: 0px;    
    }
    #cabecera{
        margin: 0;
    }
    #cabecera .logo{ 
        margin: auto; 
        float: none; 
        width: 100px; 
        } 
    #menu{ 
        display: none; 
        } 
    #cabecera h1 { 
        display: none; 
        } 
         
    #contenido{ 
        width: 100%; 
        margin: 0; 
        padding: 5px; 
        } 
       
}